body{
	background-color: #303030;
	font-family: 'Lato', sans-serif;
	color: #aaaaaa;
}

a, a:hover, a:active{
	text-decoration: none;
	display: block;
	color: #eeeeee;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#logo{
	margin-right: auto;
	margin-left: auto;
	width: 780px;
	height: 50px;
	border: 0px solid #000000;
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	color: #eeeeee;
	border-bottom: 0px solid #000000;
}

#zawartosc{
	margin-right: auto;
	margin-left: auto;
	width: 770px;
	overflow: auto;
	min-height: 100px;
	border: 2px solid #aaaaaa;
	margin-top: 2px;
	text-align: justify;
	padding: 5px;
}

.informacje{
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	overflow: auto;
	border: 2px solid #aaaaaa;
	text-align: justify;
	padding: 5px;	
}


#footer{
	margin-right: auto;
	margin-left: auto;
	width: 780px;
	min-height: 30px;
	border: 0px solid #000000;
	margin-top: 40px;
	text-align: center;
	padding-top: 5px;
}

#HTML{
	width: 375px;
	margin: 5px;
	height: 215px;
	float: left;
	text-align: center;
	background-color: #e05418;
	padding-top: 10px;
	display: block;
}

#HTML:hover{
	background-color: #d04307;
}


#CSS{
	width: 375px;
	margin: 5px;
	height: 215px;
	float: left;
	text-align: center;
	background-color: #0170ba;
	padding-top: 10px;	
}

#CSS:hover{
	background-color: #0060a9;
}

#JavaScript{
	width: 375px;
	margin: 5px;
	height: 215px;
	float: left;
	text-align: center;
	background-color: #e5a228;	
	padding-top: 10px;
}

#JavaScript:hover{
	background-color: #d49117;
}

#PHP{
	width: 375px;
	margin: 5px;
	height: 215px;
	float: left;
	text-align: center;
	background-color: #6a7db7;	
	padding-top: 10px;
}

#PHP:hover{
	background-color: #596ca6;
}








